DB_URL = YOUR_DB_URL
DB_USERNAME = YOUR_DB_USERNAME
DB_PASSWORD = YOUR_DB_PASSWORD
REDIS_HOST = YOUR_REDIS_HOST
REDIS_PORT = YOUR_REDIS_PORT
REDIS_PASSWORD = YOUR_REDIS_PASSWORD
BREVO_API_KEY = YOUR_BREVO_API_KEY
JWT_SECRET = YOUR_JWT_SECRET